/************************************************	Stuff concerning the whole page    ***************************/
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#background-image {
	min-width: 100%;
	min-height: 100%;
	overflow: auto;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}
@font-face {													/*Schriftart Raleway*/	
    font-family: Raleway;
    src: url(../../vendor/Raleway/Raleway-Medium.ttf);
}
/************************************************	All over the page used elements    ***************************/
.content-area {
	width: 100%;

}
.content {
	background-color: white;
}
h1 {
	display: block;
	text-transform: uppercase;
	margin: 150px 0 0 0;
	padding: 40px 40px 0 40px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 75px;
	color: white;
 
}
@media only screen and ( min-width: 890px ) and ( max-width: 1030px ){
	h1 {
		font-size: 65px;
	}
}
@media only screen and ( min-width: 791px ) and ( max-width: 889px ){
	h1 {
		font-size: 55px;
	}
}
@media only screen and ( min-width: 691px ) and ( max-width: 790px ){
	h1 {
		font-size: 45px;
	}
}
@media only screen and ( min-width: 10px ) and ( max-width: 690px ){
	h1 {
		font-size: 45px;
	}
}
@media only screen and ( min-width: 450px ) and ( max-width: 690px ){
	h1 {
		font-size: 45px;
	}
}
@media only screen and ( min-width: 10px ) and ( max-width: 450px ){
	h1 {
		font-size: 30px;
	}
}
h2 {
	display: block;
	text-transform: uppercase;
	margin: 30px 30px 0 30px;
	padding: 40px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	color: rgb(68, 68, 68);
	height: 100%;
}
@media only screen and ( min-width: 1px ) and ( max-width: 470px ){
	h2 {
		font-size: 30px;
		padding: 20px 20px 10px 20px;
	}
}
h5 {
	font-family: "Open Sans", sans-serif;
	font-size: 23px;
	text-transform: uppercase;
	font-weight: lighter;
	line-height: 0px;
}
h6 {
	color: rgb(51, 51, 51);
	font-size: 14px;
	line-height: 23px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Raleway, sans-serif;
	text-align: center;
	padding-bottom: 0px;
}
.h6-white {
	color: rgb(255, 255, 255);;
	font-weight: lighter;
}
@media only screen and ( min-width: 1px ) and ( max-width: 470px ){
	h2 {
		padding-bottom: 20px;
	}
}
.coloured-text {   											/*Orange coloured text, spread all over the page*/
	color: rgb(251, 166, 73);
}
a {
	text-decoration: none;
	color: rgb(136, 136, 136);
}
article {
	font-family: Raleway;

}
p {
	font-size: 13px;
	line-height: 23px;
	font-weight: lighter;
}
.line {
	width: 65%;
	height: 2px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
}
/************************************************	Elements, concerning special areas of the page    ************/
header { 													/*Elements concerning the Header of the page follow this element*/
	height: 400px;

}
nav {																/*Navigation, in z-Index 3, always at the top of the page*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(51, 51, 51, 0.8);
	z-index: 3;
}
#lsw-nav {/*"Linux Statt Windows"-title in navigation*/
	font-family: Raleway, sans-serif;
	color: white;
	display: block;
	font-size: 30px;
	float: left;
	padding: 12px;
	margin-left: 10%;
}
nav ul {
	float: right; 
	margin:0;
	display: block;
	margin: 0 10% 0 0;
}
#lsw-nav {
	margin-left: 5%;
}
#lsw-nav {
	margin-left: 2%;
}
nav ul li {
	float: left;
	list-style-type: none;
}
nav ul li a {
	display: block;
	padding: 25px 25px 20px 25px;
	color: rgb(255, 255, 255);
	font-family: Raleway, sans-serif;
	font-size: 14.5px;
	text-transform: uppercase;
	font-weight: 500;

}
nav ul li a:hover {
	color: rgb(251,166,73);
}
.mobile-view-button {								/*Button that enables toggling the menu visibility at small screens, not visible at large screens */
	display: none;
	background-color: rgba(0, 0, 0, 0);
	border: rgb(221, 221, 221) 1px solid;
	border-radius: 4px;
	margin: 13px 15px 0 0;

	width: 44px;
	height: 34px;
	position: absolute;
	right: 0;
	top: 0; 
}
.line-in-mobile-view-button {					/*Lines in Button for mobile menu toggeling*/
	width: 22px;
	height: 2px;
	background-color: rgb(255, 255, 255);
	display: block;
	text-align: center;
	cursor: pointer;
	border-radius: 1px;
	margin: 0 auto;
	margin-top: 4px;
	margin-bottom: 4px;
}
.mobile-view-button:active, .mobile-view-button:hover, .mobile-view-button:target {
	background-color: rgba(251, 166, 73, 1);
}
@media only screen and ( min-width: 1200px ) and ( max-width: 1350px ){
	nav ul {
		margin: 0 5% 0 0;
	}
	#lsw-nav {
		margin-left: 5%;
	}
}
@media only screen and ( min-width: 1102px ) and ( max-width: 1200px ){
	nav ul {
		margin: 0 0 0 0;
	}
	#lsw-nav {
		margin-left: 2%;
	}
}
@media only screen and ( min-width: 1px ) and ( max-width: 1102px ){
	nav ul {
		display: none;
	}
	#lsw-nav {
		margin-left: 10%;
	}
	.mobile-view-button {
	display: block;
	}
}
nav ul li {
	float: left;
	list-style-type: none;
}
#nav-open:target ul {		/*Makes the mobile menu drop down, when the Button is hit and so #nav-open is targeted*/
	display: block;			/*"display: block;" is necessary because it is "display: hidden;" when the screen is smaller than 1101px*/
}
#nav-open:target ul li {	/*Makes the mobile menu drop down, when the Button is hit and so #nav-open is targeted*/
	width: 100%;				/*Ensures, that every option has its own line and is in correct position*/
	float: left;
	display: block;
	border-top: 1px rgba(255, 255, 255, 0.5) solid;
}
#nav-open:target a .mobile-view-button-open {		/*Hides the open-the-nav-button, so the close-the-nav-button below can be clicked*/
	display: none;
}
#buttons-below-title {
	margin: 0 auto;
	margin-top: 50px;
	display: block;
	text-align: center;
	height: 50px;
	}
.button {
	padding: 17px 40px 17px 40px;
	border: 1px rgb(204, 204, 204) solid;
	border-radius: 5px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 14px;
	font-family: Raleway, sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 20px 5px 0 5px;
	max-width: 30px;
	line-height: 70px;
}
.button:hover {
	background-color: rgba(251, 166, 73, 1);
}
.background-orange {
	background-color: rgb(251, 166, 73);
	border: 1px rgb(251, 166, 73) solid;
}
.background-orange:hover {
	background-color: transparent;
}




#forum { 													/*Elements concerning the Header of the page follow this element */
 background-color: white;
 height: 2000px;
 position: relative;
}
.intro-article {
	width: 40%;
	background-color: white;
	margin: 1% 2.5% 2% 2.5%;
	padding: 2.5% 2.5% 2.5% 2.5%;
	float: left;
	color: rgb(51, 51, 51)
}
@media only screen and ( min-width: 10px ) and ( max-width: 850px ){
	.intro-article {
		width: 80%;
		margin: 0 auto;
		float: none;
	}
}
#article-area {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	background-color: white;
overflow: auto;

}
#statistic {												/*Elements concerning the Header of the page follow this element */
	background-color: rgb(251, 166, 73);
	overflow: auto;
	font-family: Raleway, sans-serif;
	margin-bottom: -30px;
}
.statistic-data {
	float: left;
	margin: 10px;
	padding: 20px 10px 20px 10px;
	width: 160px;
	text-align: center;
	color: rgb(255, 255, 255);
}
.statistic-icon {
	font-size: 60px;

}
.counter {
	font-size: 35px;
	font-weight: bold;
	line-height: 70px;
}
#statistic-area {
	width: 100%;
	max-width: 810px;
	margin: 0 auto;
}
@media only screen and ( min-width: 460px ) and ( max-width: 1000px ){
#statistic-area {
	max-width: 405px;
}
}
@media only screen and ( min-width: 1px ) and ( max-width: 460px ){

#statistic-area {
	max-width: 203px;

}
}

#blog { 													/*Elements concerning the blog-area of the page follow this element */
	color: rgb(51, 51, 51);
	font-family: Raleway, sans-serif;
	overflow: auto;
	padding-top: 40px;
}
#blog-article-area {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	background-color: white;
	overflow: auto;
}
@media only screen and ( min-width: 550px ) and ( max-width: 1000px ){
#blog-article-area {
	max-width: 490px;
}

}
@media only screen and ( min-width: 1px ) and ( max-width: 550px ){
#blog-article-area {
	max-width: 245px;
}

}
.blog-data {
	width: 200px;
	margin: 10px;
	padding: 10px;
	text-align: center;
	float: left;
}
#blog-icon-newspaper, #blog-icon-mic, #blog-icon-genius, #blog-icon-tools {
	font-size: 70px;
}
.blog-article-title {
	display: block;
	font-size: 24px;
	min-height: 70px;

}
.blog-article {
	display: block;
	min-height: 80px;

}
.mehr-button {
	display: block;
	border: 1px solid rgb(251, 166, 73);
	padding: 9px;
	width: 70px;
	border-radius: 20px;
	margin: 0 auto;
	color: rgb(136, 136, 136);
}
.mehr-button:hover, .mehr-button:active {
	color: rgb(251, 166, 73);
}
#camps { 													/*Elements concerning the camps-area of the page follow this element */
	margin-top: -30px;
	padding-top: 70px;
}
.camplogo {
	border: rgba(51, 51, 51, 0.3) 1px solid;
	border-radius: 4px;
	padding: 0.2%;
	width: 20%;
	margin: 2%;
	
}
@media only screen and ( min-width: 1px ) and ( max-width: 970px ){
	.camplogo {
		width: 40%;
		margin: 4%;	
	}
}
#aktuelles {												/*Elements concerning the news-area (aktuelles) of the page follow this element */
	background: #101010; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #181817, #050504); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #181817, #050504); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #181817, #050504); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #181817, #050504); /* Standard syntax */ 
	

	padding-top: 1px;
}
#news-area {
	overflow: auto;
	color: rgb(255, 255, 255);
	font-family: Raleway, sans-serif;
	padding: 70px 30px 30px 300px; 
}
.news-entry {
	display: block;
	width: 550px;
	overflow: auto;
}
.news-entry-logo {
	font-size: 60px;
	display: block;
	float: left;
	width: 100px;
	color: rgb(251, 166, 73);
	height: 100% !important;
	min-height: 200px;
	text-align: center;
}
.news-entry-information {
	float: left;
	height: 100%;
	width: 440px;
}
.news-entry-title {
	text-transform: uppercase;
	line-height: 30px;
}
.line-in-news-entry {
	display: block;
	background-color: rgb(255, 255, 255);
	height: 1px;
	width: 100%;
	margin: 10px 0 10px 0;
}
.news-entry-more{
	color: rgb(251, 166, 73);
	font-size: 13px;
	line-height: 0px;
	font-weight: lighter;
}
@media only screen and ( min-width: 1400px ) and ( max-width: 70000px ){
	#news-area {
		padding-left: 30%; 
	}
}
@media only screen and ( min-width: 1000px ) and ( max-width: 1400px ){
	#news-area {
		padding-left: 200px; 
	}
}
@media only screen and ( min-width: 770px ) and ( max-width: 1000px ){
	#news-area {
		padding-left: 100px; 
	}
}
@media only screen and ( min-width: 500px ) and ( max-width: 770px ){
	#news-area {
		padding-left: 50px; 
	}
	.news-entry {
		width: 400px;
	}
	#news-entry-logo {
		width: 90px;
	}
	.news-entry-information {
		width: 300px;
	}
}
@media only screen and ( min-width: 400px ) and ( max-width:500px ){
	#news-area {
		padding-left: 30px; 
	}
	.news-entry {
		width: 300px;
	}
	#news-entry-logo {
		width: 90px;
	}
	.news-entry-information {
		width: 200px;
	}
}
@media only screen and ( min-width: 300px ) and ( max-width:400px ){
	#news-area {
		padding-left: 20px; 
	}
	.news-entry {
		width: 250px;
	}
	#news-entry-logo {
		width: 90px;
	}
	.news-entry-information {
		width: 150px;
	}
}
@media only screen and ( min-width: 1px ) and ( max-width:300px ){
	#news-area {
		padding-left: 20px; 
	}
	.news-entry {
		width: 200px;
	}
	#news-entry-logo {
		width: 90px;
	}
	.news-entry-information {
		width: 100px;
	}
}

#social-netzworks { 					 	/*Elements concerning the social-networks-area (aktuelles) of the page follow this element */
	background-color: rgb(251, 166, 73);
	overflow: auto;
	padding: 20px 0 20px 0;
}
#social-networks-inner-div {
	margin: 0 auto;
	width: 570px;
	height: 241px;
}
.social-network {
	color: rgb(255, 255, 255);
	display: block;
	width: 150px;
	height: 250px;
	padding: 0 20px 0 20px;
	margin-top: 20px;
	font-family: Raleway, sans-serif;
	float: left;
	text-align: center;
}
.social-network-icon {
	color: rgb(255, 255, 255);
	font-size: 80px;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.social-network-button {
	display: block;
	margin: 7px 0 7px 0;
	border-radius: 1px;
	padding: 5px;
	color: rgb(255, 255, 255);
	border: rgb(255, 255, 255) 1px solid;
	min-height: 40px;
}
.social-network-button:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.twitterbutton {
	line-height: 40px;
}
@media only screen and ( min-width: 1px ) and ( max-width:650px ){
	#social-networks-inner-div {
		width: 195px;
		height: auto;
	}
}




#footer {

}